.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999999999;
}

.modal-general {
  background-color: rgba(49, 46, 46, 0.6);
  color: #4a8bfc;

  .modal-content {
    max-width: 740px;
    width: 100%;
    margin: auto;
    padding: 2rem;
    top: 15%;
    transition: down 0.3s;
    height: auto;

    border-radius: 20px;
    box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.2);
    border: none;

    .modal-body {
      text-align: center;
    }
  }

  .close {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 40px;
    font-weight: 300;
    cursor: pointer;
  }

  .modal-buttons {
    display: flex;
    justify-content: center;
  }
}

@keyframes down {
  0% {
    top: 15%;
  }
  100% {
    top: 17%;
  }
}

@media (max-width: 767px) {
  .modal-general {
    .modal-content {
      width: 90%;
      margin: auto;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
    .modal-body {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.boton {
  min-width: 200px;
  @media (max-width: 800px) {
    min-width: 130px;
  }
  padding: 15px;
  background: #007bff;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  outline: none;
  color: #ffffff;
  &.btn-filter {
    min-width: 104px;
    height: 32px;
  }
}
