.container {
  margin-top: 70px;
}

.form-data {

  input {
    width: 100%;
    outline: none;
    border: 0;
    border-bottom: 1px solid ;
  }
}

button {
  width: 100%;
  @media (min-width: 768px) {
    width: 200px;
  }
}


input {
  border: 0;
  outline: 0;
  border-bottom: 2px solid #007bff;


}
input:focus {
  border-color: --primary
}

.justify-center {
  justify-content:center
}

